<phpunit bootstrap="src/functions.inc.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Project Test Suite">
             <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="testdox-text" target="logs/testdox.txt"/>
     <log type="junit" target="logs/junit.xml"/>
        <log type="coverage-html" target="logs/coverage" lowUpperBound="50" highLowerBound="90"/>
        <log type="coverage-clover" target="logs/clover.xml"/>
    </logging>

    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
